.portfolio__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

.portfolio__item {
  background: var(--color-navy-blue);
  padding: 1.3rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.portfolio__item:hover {
  border-color: rgba(77, 181, 255, 0.4);
  background: transparent;
}

.portfolio__item-image {
  border-radius: 1.5rem;
  max-width:550px;
  max-height:260px;
  overflow: hidden; 
}

.portfolio__item h2 {
  margin: 1.2rem 0 2rem;
  border-bottom: 1px solid white;
}

.portfolio__item-links {
  display: flex;
  gap: 1rem;
  margin-bottom: 1rem;
}

.hashtags {
  padding: 0.5rem 0;
  font-size: small;
  display: flex;
  flex-wrap: wrap;
}

.tags {
  margin-right: 1rem;
  font-size: calc(0.8em + 0.3vw);
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ======================== */
@media screen and (max-width: 1024px) {
  .portfolio__container {
    grid-template-columns: 1fr 1fr;
    gap: 1.2rem;
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ======================== */
@media screen and (max-width: 600px) {
  .portfolio__container {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}