@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --color-black:#181818;
  --color-black-variant: #1d1d1d;
  --color-navy-blue:#23233e;
  --color-navy-blue-variant: #3b3b6e;
  --color-white: #fff;
  --color-light: rgba(255, 255, 255, 0.6);

  --transition: all 400ms ease;

  --container-width-lg: 75%;
  --container-width-md: 86%;
  --container-width-sm: 90%;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: 'Karla', sans-serif ;
  background: var(--color-black-variant);
  color: var(--color-white);
  line-height: 1.7;
}

/* ============== GENERAL STYLES ====================== */
.container {
  width: var(--container-width-lg);
  margin: 0 auto;
}

h1, 
h2, 
h3, 
h4, 
h5 {
  font-weight: 500;
}

h1 {
  font-size: 2.5rem;
}

section {
  margin-top: 8rem;
  height: 100vh;
  box-sizing: border-box;
}

section > h2, 
section > h5 {
  text-align: center;
  color: var(--color-light);
}

section > h2 {
  color: var(--color-white);
  margin-bottom: 3rem;
}

a {
  color: #4db5ff;
  transition: var(--transition);
}

a:hover {
  color: var(--color-white);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.btn {
  width: max-content;
  display: inline-block;
  color: #4db5ff;
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  border: 1px solid #4db5ff;
  transition: var(--transition);
}

.btn:hover {
  background: var(--color-white);
  color: #1f1f38;
  border-color: transparent;
}

.btn-primary {
  background: #4db5ff;
  color: #1f1f38;
}

/* ======================== MEDIA QUERIES (MEDIUM DEVICES) ======================== */

@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }

  section {
    margin-top: 6rem;
  }
}

/* ======================== MEDIA QUERIES (SMALL DEVICES) ======================== */

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }

  section > h2{
    margin-bottom: 2rem;
  }
}